
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_layoutDoctor.cshtml";
}

@section panner_image{
    <!--panner image -->
    <section class="panner">
        <div class="panner-img">
            <img src="/Content/img/panner-img.png" alt="image" />
        </div>
        <div class="two-button">
            <div class="container">
                <a href="#" class="btn">Discover All Ideas</a>
                <a href="#" class="btn">Discover Companies</a>
            </div>
        </div>
    </section>
}

