
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_layoutpage.cshtml";
}
@section notify{

    <div class="tab-content">
        @if (ViewBag.message != null)
        {
        foreach (var item in ViewBag.message)
        {


            <div class="tab-pane container active" id="doctor">
                <h6> The team have group named  <a href="#">@item.group_code</a> is Accepted</h6>
            </div>

        <div class="tab-pane container fade" id="company">

            <h6>hi<a href="#">world</a></h6>
        </div>
        }
        }
    </div>
}
@section panner_image{

    <!--panner image -->
    <section class="panner">
        <div class="panner-img">
            <img src="/Content/img/panner-img.png" alt="image" />
        </div>
        <div class="two-button">
            <div class="container">
                <a href="#" class="btn">Discover All Ideas</a>
                <a href="#" class="btn">Discover Companies</a>
            </div>
        </div>
    </section>
}

